{% load static %}
<div class="modal fade" tabindex="-1" id="modal_agregar_producto">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crear Nuevo Producto</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="" method="post" class="needs-validation" novalidate>
        {% csrf_token %}

        <div class="modal-body m-2">
          <div class="input-group mb-2 has-validation">
            <input 
              type="text"
              class="form-control w-25"
              aria-label="id_producto"
              value="{{ siguiente_codigo }}"
              disabled
              readonly
            />
            <input type="hidden" name="codigo" value="{{ siguiente_codigo }}" />
            {% include 'common/bootstrap_input_field.html' with field=form.nombre %}
          </div>
          <div class="d-flex gap-2">
            <div class="input-group has-validation">
              <span class="input-group-text">
                <i class="bi bi-box-seam-fill"></i>
              </span>
              {% include 'common/bootstrap_input_field.html' with field=form.stock %}
            </div>
            <div class="input-group has-validation">
              <span class="input-group-text">$</span>
              {% include 'common/bootstrap_input_field.html' with field=form.precio %}
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary">Limpiar</button>
          <button type="submit" class="btn btn-primary">Guardar Producto</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="{% static 'js/FormValidationIntercept.js' %}?v=1.3"></script>
