<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-droplet-half"></i>
      InkPOS
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'ventas' %}active{% endif %}"
            aria-current="page"
            href="{% url 'ventas' %}"
            >Venta</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'facturas' %}active{% endif %}"
            href="{% url 'facturas' %}"
            >Facturas</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'devoluciones' %}active{% endif %}"
            href="{% url 'devoluciones' %}"
            >Devoluciones</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
