{% load static %}
<div class="modal fade" tabindex="-1" id="modal_agregar_producto">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crear Nuevo Producto</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="" method="post" class="needs-validation" novalidate>
        {% csrf_token %}

        <div class="modal-body m-2">
          <div class="d-flex input-group mb-2 has-validation">
              <input 
                  type="text"
                  class="form-control w-25"
                  aria-label="id_producto"
                  value = "001"
                  disabled
                  readonly
              />
              <input
                  name="nombre"
                  type="text"
                  class="form-control w-75"
                  placeholder="Nombre"
                  aria-label="nombre"
                  required
              />
              <div class="valid-feedback">
                Parece correcto.
              </div>
              <div class="invalid-feedback">
                Por favor ingresa un nombre valido.
              </div>
          </div>
          <div class="d-flex gap-2">
              <div class="input-group has-validation">
                <span class="input-group-text">
                  <i class="bi bi-box-seam-fill"></i>
                </span>
                <input
                  name="stock"
                  type="number"
                  min="1"
                  step="1"
                  class="form-control"
                  aria-label="cantidad_stock"
                  placeholder="Stock"
                  required
                />
                <div class="valid-feedback">
                  Parece correcto.
                </div>
                <div class="invalid-feedback">
                  Por favor ingresa un numero valido.
                </div>
              </div>
              <div class="input-group has-validation">
                <span class="input-group-text">$</span>
                <input
                  name="precio"
                  type="number"
                  min="1"
                  step="1"
                  class="form-control"
                  aria-label="precio_producto"
                  placeholder="Precio"
                  required
                />
                <div class="valid-feedback">
                  Parece correcto.
                </div>
                <div class="invalid-feedback">
                  Por favor ingresa un numero valido.
                </div>
              </div>
          </div>
        </div>

        <div class="modal-footer">
            <button type="reset" class="btn btn-secondary">Limpiar</button>
            <button type="submit" class="btn btn-primary">Guardar Producto</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="{% static 'js/FormValidationIntercept.js' %}"></script>