{% load static %}
<div class="modal fade" tabindex="-1" id="modal_agregar_empleado">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crear Nuevo Empleado</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form action="" method="post" class="needs-validation" novalidate>
        {% csrf_token %}

        <div class="modal-body m-2">
          <div class="d-flex gap-2 mb-2">
            <div class="input-group has-validation">
              {% include 'common/bootstrap_input_field.html' with field=form.identificacion %}
            </div>

            <div class="input-group has-validation">
              {% include 'common/bootstrap_input_field.html' with field=form.nombre %}
            </div>
          </div>

          <div class="d-flex gap-2 mb-2">
            <div class="input-group has-validation">
              <span class="input-group-text">
                <i class="bi bi-person-circle"></i>
              </span>
              {% include 'common/bootstrap_input_field.html' with field=form.usuario %}
            </div>

            <div class="input-group has-validation">
              <span class="input-group-text">
                <i class="bi bi-telephone-fill"></i>
              </span>
              {% include 'common/bootstrap_input_field.html' with field=form.telefono %}
            </div>
          </div>

          <div class="input-group has-validation mb-2">
            <span class="input-group-text">
              <i class="bi bi-key-fill"></i>
            </span>
            {% include 'common/bootstrap_input_field.html' with field=form.contrasena %}
          </div>

          <div class="form-check">
            {{ form.admin_checkbox }}
            <label class="form-check-label" for="{{ form.admin_checkbox.id_for_label }}">Es usuario administrador</label>
          </div>
        </div>

        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary">Limpiar</button>
          <button type="submit" class="btn btn-primary">
            Guardar Empleado
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="{% static 'js/FormValidationIntercept.js' %}"></script>
