{% extends 'Master.html' %} 
{% block title %} 
    InkPOS - Gestion Empleados 
{% endblock %}

{% block content %}

{% include "empleados/modals/Modal_Agregar_Empleado.html" %}

<div class="d-flex flex-column h-100 overflow-hidden">
  <div class="d-flex p-2 gap-2 flex-shrink-0">
    
    <p class="fs-3 fw-bold mb-0 w-100">
      Gestion de Empleados
    </p>

    <div class="d-flex gap-2 justify-content-end w-100">
      <form action="" method="post">
        {% csrf_token %}
        <input
          type="text"
          name="id_empleado"
          class="form-control h-100"
          placeholder="Busca Aqui un Empleado"
        />
      </form>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_agregar_empleado">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>

  <div class="m-2 border rounded flex-grow-1 overflow-auto">
    <table class="table table-striped table-hover mb-0">
      <thead class="sticky-top">
        <tr>
          <th>Identificación</th>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th class="text-center">Es Admin</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      {% if empleados %}
      <tbody>
        {% for empleado in empleados %}
        <tr>
          <td>{{ empleado.identificacion }}</td>
          <td>{{ empleado.auth_user.get_full_name|default:empleado.auth_user.first_name }}</td>
          <td>{{ empleado.telefono|default:"-" }}</td>
          <td class="text-center">
            {% if empleado.es_admin %}
              <i class="bi bi-check-square-fill"></i>
            {% endif %}
          </td>
          <td class="text-center"></td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>

    {% if not empleados %}
    <div class="container text-center text-secondary mt-5">
      <i class="bi bi-slash-circle" style="font-size: 6rem"></i>
      <p class="fs-2 fw-bold mb-0">Nada Que Mostrar Aún.</p>
      <p class="fs-4">
        Puedes crear nuevos empleados usando el boton
        <i class="bi bi-plus-lg"></i> <br>
        arriba a la derecha.
      </p>
    </div>
    {% endif %}
  </div>
</div>

<!-- Toast Container -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  {% if messages %}
    {% for message in messages %}
      <div class="toast align-items-center text-bg-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            {{ message }}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl, {delay: 3000})
    })
    toastList.forEach(toast => toast.show())
  });
</script>

{% endblock %}
